{% extends 'amazon/base.html' %}
{% load static %}
{% block title %} Product details {% endblock%}



{% block main %}
    <h1> Product details </h1>
    <div class="card mx-auto" style="width: 18rem;">
          <img src="{{product.get_image_url}}"
               width="200" height="200"
               class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">{{product.name}}</p>
          <p class="card-text">Description: {{product.description}}</p>
              <p class="card-text">Price {{product.price}}</p>
              <p class="card-text">Created at: {{product.created_at}}</p>
              <p class="card-text">Updated at {{product.updated_at }}</p>
              <p class="card-text"> Category object : <a href="{{product.category.get_show_url}}">{{product.category}} </a> </p>
          </div>

<!--        <a href="{% url 'product.delete' product.id %}" class="btn btn-danger"> Delete </a>-->
        <a href="{{product.get_edit_url}}" class="btn btn-warning"> Edit </a>

        <a href="{{product.get_delete_url}}" class="btn btn-danger"> Delete </a>

         <a href="{% url 'products.index'%}" class="btn btn-info"> Back to all products </a>
    </div>

    <div>
        <h1> See also products from this category </h1>

        {{product.category.category_products.all}}
        {% for p in product.category.category_products.all %}
            {% if p.id != product.id %}
                <li> <a href="{{p.get_show_url}}"> {{p.name}} </a></li>
            {% endif %}
        {% endfor %}

    </div>

{% endblock %}